@font-face {
  font-family: 'Uniform';
  src: url('/assets/fonts/UniformRegular-Regular.woff2') format('woff2'),
    url('/assets/fonts/UniformRegular-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Uniform Bold';
  src: url('/assets/fonts/Uniform-Bold.woff2') format('woff2'),
    url('/assets/fonts/Uniform-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Uniform Rnd Ultra';
  src: url('/assets/fonts/UniformRnd-Ultra.woff2') format('woff2'),
    url('/assets/fonts/UniformRnd-Ultra.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: #f3f3f3;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url(/assets/Texture.png);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: 0px;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  html {
    background-color: white;
  }
}

@media screen and (min-width: 1500px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
